@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f7f6;
  /* Text colour */
  color: #333;
}

/* Default: Grid with Sidebar */
.app-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* 3 parts Search, 1 part Favourites */
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

/* Mobile/Tablet Layout*/
@media (max-width: 768px) {
  .app-container {
    grid-template-columns: 1fr;
    /* Stack everything in 1 column */
  }

  /* Order: Putting Favourites at the bottom on mobile */
  .favourites-sidebar {
    order: 2;
  }
}

/* Property Card Styling */
.property-card {
  border: 3px solid #bac5cd;
  background: rgb(240, 250, 255);
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s;
  /* Subtle animation */
}

.property-card:hover {
  transform: translateY(-5px);
  /* Lift effect on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Buttons */
button {
  cursor: pointer;
  transition: opacity 0.2s;
}

button:hover {
  opacity: 0.8;
}